---
import { Image } from 'astro:assets'
import {profile} from '../../settings'
import SocialIcons from './SocialIcons.astro'
import ProfilePictures from '@/assets/profile.png'
import { getCollection } from 'astro:content'
import { template } from '@/settings'
import Divider from "@/components/ui/Divider.astro"

import MenuItem from './MenuItem.astro';
import HomeIcon from '@/assets/menu-icons/house.svg';
import CVIcon from '@/assets/menu-icons/user.svg';
import BlogIcon from '@/assets/menu-icons/edit.svg';
import ResearchIcon from '@/assets/menu-icons/search.svg';
import PubIcon from '@/assets/menu-icons/file-text.svg';
import OutreachIcon from '@/assets/menu-icons/talk.svg';

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title} = profile

---
<aside
	class='top-0 px-4 pt-4 min-h-screen w-[20rem] bg-base-300 text-base-content flex flex-col'
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='flex justify-center items-center flex-col'>
			<!-- Profile Picture -->
			<div class="w-44 h-44 rounded-full overflow-hidden glow hidden lg:block">
			<Image
				class="w-full h-full object-cover hidden lg:block"
				src={ProfilePictures}
				alt={`Profile picture of ${fullName}`}
			/>
			</div>
				<h1 class="text-4xl font-black mt-8 font-patua"> <span>{fullName}</span></h1>
				<p class="mt-4 text-base ">({profile.pronouns}) | {profile.title} | Ph.D.</p>
			</div>
			<Divider color="white" thickness={2} amplitude={5} wavelength={20} />
			<div>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
				<MenuItem href={`${template.base}/`} label="Home" Icon={HomeIcon} hoverColor="#f38ba8" />
				<MenuItem href={`${template.base}/research`}  label="Research" Icon={ResearchIcon} hoverColor="#fab387" />
				<MenuItem href={`${template.base}/papers`}  label="Publications" Icon={PubIcon} hoverColor="#f9e2af" />
				<MenuItem href={`${template.base}/cv`} label="CV" Icon={CVIcon} hoverColor="#a6e3a1" />
				<MenuItem href={`${template.base}/outreach`} label="Outreach" Icon={OutreachIcon} hoverColor="#89dceb" />
				{isBlogPopulated &&
				<MenuItem href={`${template.base}/blog/1`} label="Blog" Icon={BlogIcon} hoverColor="#cba6f7" />
				}
				</ul>
			</div>
			<div class='text-center'>
			<Divider color="white" thickness={2} amplitude={5} wavelength={20} />
			<h1 class="mt-2 text-2xl font-black mt-8 hidden lg:block font-patua"> <span> Contact Me </span></h1>
			<SocialIcons/>
		</div>
		</div>

		</div>
	</div>

</aside>
